
/* ****************** Common ****************** */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* ****************** Utility ****************** */
.dbg header{
    background-color: #0C325A;
    height: 600px;
    width: 100%;
}

.dbg main{
    width: 100%;
}
.dbg footer{
    background-color: #D3D3D3;
    height: 200px;
}


/* ****************** Header ****************** */
.container{
    width: 80%;
    height: 100%;
    margin: auto;
    background-image: url(../img/background-header.png);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
}

.container nav {
    height: 70px;
    vertical-align: middle;
    line-height: 70px;
}

.logo{
    width: 10%;
    display: inline-block;
}
nav img{
    height: 40px;
    margin-bottom: 15px;
    vertical-align: middle;
    
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.left_menu{
    display: inline-block;
    width: 54.5%;
}

.left_menu a{
    margin: 5px 20px;
}
.left_menu a:hover{
    color: #7CBB02;
    border: 1px solid #7CBB02;
    padding: 5px;
    border-radius: 5px;
}

.right_menu{
    display: inline-block;
    width: 35%;
    text-align: right;
}

.right_menu a{
    margin: 5px 0px 5px 20px;
}
.right_menu a:first-child:hover{
    color: #7CBB02;
    border: 1px solid #7CBB02;
    padding: 5px;
    border-radius: 5px;
}

.right_menu a:nth-child(2){
    border: 1px solid whitesmoke;
    padding: 10px 30px;
    border-radius: 5px;
}
.right_menu a:nth-child(2):hover{
    border: 1px solid #7CBB02;
    color: #7CBB02;
    background-color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
}

.right_menu a:nth-child(3){
    background-color: #7CBB02;
    border-radius: 5px;
    padding: 10px 20px;
}
.right_menu a:nth-child(3):hover{
    background-color: white;
    color: #7CBB02;
    border-color: #7CBB02;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
}

.page_title{
    width: 50%;
    margin-top: 8%;
    height: 400px;
}

.page_title h1{
    font-size: 70px;
    color: whitesmoke;
    font-weight: 500;
    margin-bottom: 50px;
}

.page_title span{
    background-color:#7CBB02;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 20px;
}
/* ****************** Main ****************** */

/* Top Container */
.top_container{
    height: 150px;
    background-color: #D3D3D3;
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}
.top_container h3{
    font-size: 35px;
    margin-bottom: 10px;
}
.top_container p{
    font-size: 25px;
    color: #969696;
}

/* Middle Container */

.middle_container{
    height:100% ;
}

.riga_1{
    width: 80%;
    height: 500px;
    margin: auto;
}

.dimension{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;

}
.dimension h3{
    font-size: 30px;
    color: #7CBB02;
}
.dimension hr{
    width: 100px;
    text-align: center;
    margin: 30px 210px;
    border-color: black;
    border-top: 1px;
    opacity: 0.5;
}
.dimension p{
    font-size: 20px;
    color: #969696;
}
.dimension img{
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.middle_box{
    margin: 0 5%;
}

.middle_container > hr{
    margin: 50px 0;
    opacity: 0.5;
}

.riga_2{
    width: 80%;
    margin:auto;
}

.riga_2 img{
    height: 650px;
    width: 49%;
    float: left;
    margin-top: 20px;
}

.bottom_box{
    display: inline-block;
    height: 700px;
    width: 50%;
    float: right;
    padding: 100px 100px;
}

.bottom_box h3{
    width: 80%;
    font-size: 40px;
    margin-bottom: 20px;
}

.bottom_box p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 30px;
    color: #969696;
}
/* ****************** Footer ****************** */

.footer_container{
    width: 80%;
    height: 200px;
    margin:auto;
    line-height: 200px;
    vertical-align: middle;

}

.footer_container h3{
    float: left;
    font-size: 40px;
    position: relative;
}

.selection{
    height: 50px;
    width: 35%;
    float: right;
    line-height: 50px;
    vertical-align: middle;
    margin-top: 75px;

    
}
.footer_container button{
    float: right;
    padding: 15px 15px;
    background-color: #7CBB02;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #7CBB02;
    margin-left: 30px;
}

.footer_container select{
    float: right;
    height: 40px;
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    color: grey;
    margin-left: 20px;
    font-size: 20px;
}

.footer_container span{
    float: right;
    height: 100%;

}

.footer_container button:last-child{
    margin-right: 60px;
    margin-top: 10px;
}

.footer_container button:hover{
    background-color: white;
    color: #7CBB02;
    border: 1px solid #7CBB02;
    font-weight: bold;
}